<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.ngsdev.safarix.lleval</string>
			<key>Developer Identifier</key>
			<string>3Y8APYUG2G</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0</string>
			<key>URL</key>
			<string>http://github.com/ngs/lleval-safarix/zipball/v1.0</string>
		</dict>
	</array>
</dict>
</plist>
